@model IEnumerable<KoloTumak.Data.Data.CMS.EditWWW>

<ul class="navbar-nav ms-auto">
    @*<li class="nav-item">@Html.ActionLink("Home","Index","Home")</li>*@
    @foreach (var item in Model)
    {
        <li class="nav-link">@Html.ActionLink(item.NameNavSite,"Index",item.NameSite,new{id=item.IdPosition},null)</li>
        
    }
    @*<li class="nav-item"><a class="nav-link" href="#about">O Nas</a></li>
    <li class="nav-item"><a class="nav-link" href="#projects">Zarząd</a></li>
    <li class="nav-item"><a class="nav-link" href="#signup">Kontakt</a></li>*@
</ul>