@model KoloTumak.Data.Data.CMS.ContactAdres

@{
    ViewData["Title"] = "Edit";
    Layout = "_LayoutNotFull";
}
<div class="content-wrapper">

<div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Kontakt adres/</span> Edycja</h4>
        <!-- Basic Layout -->
        <div class="row">
            <div class="col-xl">
                <div class="card mb-4">
                    <div class="card-body">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>                            
                            <div class="mb-3">                    
                                <label asp-for="NameTextAdres" class="form-label" for="basic-icon-default-company"></label>
                                <div  class="input-group input-group-merge">
                                    <input asp-for="NameTextAdres" type="text" id="basic-icon-default-company" class="form-control" placeholder="Typ" aria-label="ACME Inc." aria-describedby="basic-icon-default-company2" />
                                </div>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Adres" class="form-label" for="basic-icon-default-message">Adres</label>
                                <div class="input-group input-group-merge">
                                    <span asp-validation-for="Adres" id="basic-icon-default-message2" class="input-group-text"></span>
                                    <input asp-for="Adres" type="text" id="basic-icon-default-phone" class="form-control phone-mask" placeholder="Adres koła" aria-label="658 799 8941" aria-describedby="basic-icon-default-phone2" />
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Stwórz</button>
                            <button asp-action="Index" class="btn btn-primary">Cofnij</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>  
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

