@model KoloTumak.Data.Data.CMS.HeaderSiteName

@{
    ViewData["Title"] = "Create";
}

<div class="home">
<h1>Stwórz</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NameSiteHeader" class="control-label"></label>
                <input asp-for="NameSiteHeader" class="form-control" />
                <span asp-validation-for="NameSiteHeader" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróć do listy</a>
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
